.movieWrapper{
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 3px;


}
.movieCover{

}
.movieCover__wrapper{
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    position: relative;


}
.movieTitle{
    color: white;
    font-weight: 700;
    text-overflow:ellipsis;
    font-style: 0.95em;
}
.movieYear{
    color: #919191;
    font-style: 0.85em;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: yellow;

}
.overlay.active{
    display: flex;
}