.movieWrapper{
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 3px;

}
.movieCover{

}
.movieCover__wrapper{
    padding: 5px;
    background-color: white;
    border-radius: 5px;
}
.movieTitle{
    color: white;
    font-weight: 700;
    text-overflow:ellipsis;
    font-style: 0.95em;
}
.movieYear{
    color: #919191;
    font-style: 0.85em;

}