.wrapper{
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    color: white;
}
.wrapper h1{
    color: inherit;
}
.cover__wrapper{
    width: 263px;
    height: 390px;
    background-color: white;
    padding: 5px;
}
.btnGreen{
    background: #6ac045;
}
.btnBlue{
    background: #00FFE7A3;
}
.btn{
    height: 39px;
    width: 263px;
    font-size: 1.1em
}
.leftColumnWrapper{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}