.header__wrapper{
    background-color: #1d1d1d;
    height: 70px;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.input__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:2px solid #333;
    border-radius: 20px;
    width: 250px;
    height: 35px;
    font-weight: bold;
}
.input__wrapper input{
    margin-right: 10px;
}
.nav__wrapper{
    display: flex;
    column-gap: 50px;
    font-weight: bold;
}
.nav__wrapper li a{
    color: #919191;
}
.nav__wrapper li a:hover{
    color:saddlebrown;
}
.nav__wrapper li:nth-child(2) a{
    color: #6AC045;
}
.nav__wrapper li:nth-child(2) a:hover{
    color:saddlebrown;
}
.login_wrapper{
    display: flex;
    padding-right: 50px;
    font-weight: bold;
}
.login_wrapper li a{
    color: white;
}
.login_wrapper li a:hover{
    color:saddlebrown;
}
.login_wrapper li:nth-child(2){
    border-left: 3px solid white;
    padding-left: 5px;

}
.login_wrapper li:nth-child(1){
    padding-right: 5px;
}
.glass{
    width: 30px;
    height: 30px;
    fill: #333;
    padding-left: 7px;

    }