.filmsContainer{
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
    justify-content: center;
    padding: 30px 30px;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #1d1d1d;
}
.input__wrapper{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:2px solid #333;
    border-radius: 20px;
    width: 250px;
    height: 35px;
    font-weight: bold;
}
.input__wrapper input{
    margin-right: 10px;

}
.glass{
    width: 30px;
    height: 30px;
    fill: #333;
    padding-left: 7px;

}