.footer__wrapper{
    background-color: #1d1d1d;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #919191;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}